<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora de jornada</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Horas</ion-label>
    <ion-input type="number" [(ngModel)]="horas"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Valor da hora</ion-label>
    <ion-input type="number" [(ngModel)]="salario"></ion-input>
  </ion-item>

   
  <ion-button (click)="verify()">
    Calcular
  </ion-button>
  <ion-text color="primary">
    <h3>{{msg}} </h3>
  </ion-text>
  </ion-content>