<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exercícios de lógica em Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-row class="ion-align-items-center">
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-button class="botao" [routerLink]="['/banco']">Calculadora de crédito</ion-button>
      <ion-button class="botao" [routerLink]="['/media']">Calculadora de média</ion-button>
      <ion-button class="botao" [routerLink]="['/salario']">Calculadora de salário</ion-button>
      <ion-button class="botao" [routerLink]="['/voto']">Verificar idade de votação</ion-button>
      <ion-button class="botao" [routerLink]="['/jornada']">Jornada de trabalho</ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
   
  </ion-row>
      
</ion-content>
